{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
  "rules": {
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off"
  },
  "ignorePatterns": ["dist", "out", "tmp"],
  "overrides": [
    {
      "files": ["*.ts"],
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "sort-imports": [
          "error",
          {
            "ignoreCase": true,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false,
            "allowSeparatedGroups": true
          }
        ]
      }
    }
  ]
}
