{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["simple-import-sort"],
  "extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
  "ignorePatterns": ["dist", "testProject", "tmp"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "unicorn/prefer-module": "off",
    "unicorn/prefer-node-protocol": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "plugins": ["@typescript-eslint"],
      "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
