AGENTS.md
AGENT.md
CLAUDE.md
CHANGELOG.md
.vscode/**
.github/**
.vscode-test/**
.vscode-test.js
.claude/**
.release-it.json
out/**
node_modules/**
testProject/**
src/**
dist/test/**
dist/*.map
assets/*.sketch
assets/*.af*
assets/banner.jpg
assets/og-image.jpg
assets/status-bar-icon.png
.gitignore
.env
.prototools
esbuild.js
biome.json
tsconfig.json
lefthook.yml
**/*cache
**/*.yaml
**/*.yml
**/*.sh
