AGENTS.md
CLAUDE.md
.vscode/**
.github/**
.vscode-test/**
.vscode-test.mjs
.claude/**
.release-it.json
out/**
node_modules/**
testProject/**
src/**
dist/test/**
dist/*.map
assets/*.sketch
.gitignore
.env
.prototools
esbuild.js
biome.json
tsconfig.json
lefthook.yml
**/*cache
**/*.yaml
**/*.yml
**/*.sh
